h1{
	color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 50px;
  text-align: center;
}

 body {
  background-color: white;
  background-image: url("background.png");
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  text-align: center;
}
p {
  
  color: white;
}
p2 {
	color: white;
}
a {
	color: green;
}
img {
	
}